@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Ecommerce_web_app.Models.TblTinTuc>

@{
	ViewData["Title"] = "Danh sách tin tức - Page: " + @ViewBag.CurrentPage;
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
	<div class="header-sub-title row">
		<div class="col d-sm-flex align-items-center justify-content-between border-bottom">
			<nav class="breadcrumb breadcrumb-dash">
				<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon-home m-r-5"></i>Home</a>
				<span class="breadcrumb-item active">Danh sách tin tức: page @ViewBag.CurrentPage </span>
			</nav>
		</div>
		<div class="col-sm">
			<a class="btn-wrapper">
				<a asp-controller="AdminTblTinTucs" asp-action="Create" class="btn btn-primary text-white me-0">Add News</a>
			</a>
		</div>
		
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tiêu đề</th>
					<th>Trạng Thái</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null)
				{
					foreach (var item in Model)
					{
						<tr>
							<td>@item.PostId</td>
							<td>
								@item.Title
							</td>
							<td>
								@if (item.Published == true)
								{
									<div class="d-flex align-item-center">
										<div class="badge badge-success badge-dot m-r-10"></div>
										<div>Public</div>
									</div>
								}
								else
								{
									<div class="d-flex align-item-center">
										<div class="badge badge-success badge-dot m-r-10"></div>
										<div>Non-Public</div>
									</div>
								}
							</td>
							<td>
								<a class="btn btn-info btn-rounded m-r-5" asp-area="Admin" asp-controller="AdminTblTinTucs" asp-action="Details" asp-route-id="@item.PostId">View</a>
								<a class="btn btn-success btn-rounded m-r-5" asp-area="Admin" asp-controller="AdminTblTinTucs" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
								<a class="btn btn-danger btn-rounded m-r-5" asp-area="Admin" asp-controller="AdminTblTinTucs" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
		<div aria-lable="Page navigation example">
			<ul class="paginaion">
				<pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminTblTinTucs" asp-action="Index" />
			</ul>
		</div>
	</div>
</div>